* {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

button {
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* --- NAVBAR --- */

.navbar {
    display: grid;
    background-color: rgb(245, 245, 245);
    grid-template-areas:
    'vazio logo vazio2 itens'
    ;
    grid-template-columns: 0.5fr 1fr 3fr 5fr;
    grid-template-rows: 103.8px;
    align-items: center;

    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.logo {
    display: grid;
    grid-area: logo;
    justify-items: center;
    align-items: center;
    color: #c4847d;
    margin: 10px;
}

.img-logo{
    height: 57.3px;
    width: 97.9px;
}

.itens-nav-bar {
    grid-area: itens;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    align-items: center;
}


.item-navbar {
    padding: 10px 20px;
    color: black;
}


.button-agendar{
    height: 52.4px; 
    width: 120px;
    border-radius: 10px;
    background-color: #f5a676;
    color: white;
    border: none;
}

/* --- HERO SECTION --- */

main {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 100%);
}


.pg1{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas:
    'textos imgs'
    ;
    column-gap: 10px;
    background: radial-gradient(circle, #f5a676, #f5a676, #ddd8d5);
    justify-items:  center;
    padding-top: 3%;
}

.pg1-texts {
    grid-area: textos;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 50px;
    padding: 60px;
    width: 636.7px;

    h1{
        font-family: 'Spectral', serif;
        font-weight: 300; 
        color: #b2645b;
        font-size: 45px;
    }

    h2{
        align-self: end;
        color: #b2645b;
    }

    button{
        background-color: #fbefe3;
        width: 114px;
        height: 35.7px;
        border-radius: 5px;
        border: none;
    }
}


.img1-home {
    grid-area: imgs;
    height: 70%;
    width: 70%;
    border-radius:50%;
    align-self: center;
}


.pg2{
    background-color: #f5a676;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 50% 50%;
    column-gap: 10px;
    justify-items:   center;
}

.pg2-texts {
    width: 507.8px;
    height: 344.p5x;
    align-self: center;
    justify-self: center;
    color: #36454f;

    h1{
        font-weight: 300; 
        font-size: 30px;
        padding-bottom: 30px;
    }
    p{
        font-size: 17px;
    }
}


.pg2-imgs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1f 1f;
    justify-items:   center;
    align-items: center;
    
    img{
        width: 60%;
        height: 60%;
        border-radius:50%;
        padding: 10%;
    }
}

.pg3 {
    background-color: #f8e8d8;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;

    h1 {
        font-size: 45px;
        font-weight: 300;
        align-self: end;
    }

    button {
        background-color: #36454f;
        color: white;
        width: 114px;
        height: 35.7px;
    }
}

.pg3-atividades{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    gap: 70px;
}

.atividade-fundo{
    background-color: #c17c74;
    width: 100px;
    height: 100px;
    border-radius:50%;

    display: grid;
    justify-items: center;
    align-items: center;
}

.atividade{
    width: 220px;
    height: 346.6px;
    display: grid;
    align-items: center;
    justify-items: center;

    img{
        width: 70px;
        height: 70px;
        border-radius:50%;
        padding: 10%;
    }

    h2{
        text-align: center;
        font-weight: 300;
        height: 120px;
        font-size: 24px;
    }

    p{
        font-weight: 300;
        text-align: center;
        font-size: 15px;
        font-family: 'Questrial', sans-serif;
    }
}

.pg4{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr 1fr;
    align-items: center;
    justify-items: center;
    padding-top: 200px;
    background-color: #f5a676;

    img{
        width: 380px;
        height: 400px;
        border-radius:50%;
    }

    h1{
        font-size: 50px;
        font-weight: 300;
        width: 600px;
        padding-left: 50px;
    }
}

.pg4-contatos {
    justify-self: start;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1f 1fr 1fr;
    justify-items: center;
    padding:100px;

    h3{
        padding-bottom: 10px;
    }
}

.contato {
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    align-items: center;
    padding-bottom: 10px;
    img{
        width: 31.4px;
        height: 25.6px;
        border-radius:0%;
    }
}